@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --neutral-light-grey: hsl(204, 43%, 93%);
    --neutral-grayish-blue: hsl(218, 22%, 67%);
    --font-karla: 'Karla', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-karla);
    background: var(--neutral-light-grey);
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background: #fff;
    display: grid;
    width: 85%;
    border-radius: 5px;
}

.section {
    display: flex;
    flex-direction: column;
}

.section__title {
    color: var(--primary-cyan);
}

.section--padding {
    box-sizing: border-box;
    padding: 25px;   
}

.section__paragraph--yellow {
    color: var(--primary-bright-yellow);
}.section__paragraph--grey {
    color: var(--neutral-grayish-blue);
}


