@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --neutral-light-grey: hsl(204, 43%, 93%);
    --neutral-grayish-blue: hsl(216, 22%, 67%);
    --font-karla: 'Karla', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-karla);
    background: var(--neutral-light-grey);
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    min-width: 300px;
    /* width: 85%; */
    width: 320px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 20px 35px -22px #818D9E;
    overflow: hidden;
}

.section {
    display: flex;
    flex-direction: column;
    color: var(--neutral-light-grey);
}

.section__title {
    color: var(--primary-cyan);
}

.section__paragraph {
    margin-top: 20px;
}

.section__paragraph-opaque {
    margin-top: 6px;
    opacity: .85;
}

.section__paragraph-us {
    font-size: .92rem;
    font-weight: normal;
    line-height: 1.5;
    padding-right: 3.6rem;
    opacity: .8;
}

.section__small {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 15px;
    opacity: .6;
}

.section__span {
    font-size: 1rem;
}

.section__button {
    max-width: 375px;
    padding: 14px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--neutral-light-grey);
    background-color: var(--primary-bright-yellow);
    box-shadow: 0px 10px 25px -9px #217C79;

}

.section--green {
    background: var(--primary-cyan);
}.section--green-light {
    background: #4abebd;
}

.section--padding {
    box-sizing: border-box;
    padding: 25px 20px;   
}

.section__paragraph--yellow {
    color: var(--primary-bright-yellow);
    font-weight: 700;
    /* text-shadow: 0 0 2px var(--primary-bright-yellow); */
}.section__paragraph--grey {
    color: var(--neutral-grayish-blue);
    /* letter-spacing: .5px; */
    line-height: 1.8;
    font-size: 14.5px;
}.section__paragraph--enlarge {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

@media (min-width: 800px) {
    .main {
        border-radius: 6px;
        width: 600px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .section--padding {
        /* box-sizing: border-box; */
        padding: 30px 30px 20px 30px;   
    }

    .section__paragraph--grey {
        margin-top: 10px;
        padding-right: 2rem;
    }

    .section__paragraph-us {
        font-size: .83rem;
    }
    
}

